/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  ::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: var(--jordy-blue); /* Set the background color of the scrollbar track */
    border-radius: 6px; /* Optional: Add rounded corners to the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--rich-black); /* Set the background color of the scrollbar thumb */
  border-radius: 6px; /* Optional: Add rounded corners to the thumb */
}


:root{
  --rich-black: #171a21ff;
  --paynes-gray: #617073ff;
  --turquoise: #00ccb4ff;
  --jordy-blue: #92bceaff;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
}

body *{
  font-family: "Montserrat", sans-serif;;
}

main{
  position: relative;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  background: var(--rich-black);
  height: 100vh;
  padding: 30px 10px 0 30px;
  font-size: 23px;
}

nav {
  margin-bottom: 15px;
}



header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--turquoise);
}

nav li {
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

nav ul li.active {
  background: var(--paynes-gray);
  border-radius: 7px;
}

button, input[type=submit]{
  background-color:var(--turquoise);
  color: var(--rich-black);
  border: 2px solid var(--rich-black);
  border-radius: 7px;
  cursor: pointer;
}

button:hover, input[type=submit]:hover{
  background-color: var(--paynes-gray);
  color: white;
}

#todo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 18px;
    padding: 15px;
    min-height: 95%;
}

#todo-container .todo {
    background:var(--jordy-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    height: 350px;
    cursor: pointer;
    max-width: 400px;
}

button.new-todo {
  background: var(--turquoise);
  height: 100px;
  width: 100px;
  border-radius: 127px;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

h1.todo-title {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  width: fit-content;
  white-space: nowrap;
}

.todo.expanded h1.todo-title {
  margin-top: 25px;
  white-space: normal;
}

.todo-description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.todo.expanded .todo-description{
  overflow-y: scroll;
  width: 100%;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--paynes-gray);
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #000000a3;
}

dialog input, dialog select, dialog textarea {
  margin: 11px 12px;
  padding: 5px;
  width: 100%;
  max-width: 230px;
  border-radius: 6px;
  border: none;
}

dialog label {
  display: block;
  color: white;
}

dialog#addTodos .close,
dialog#addProjects .close,
dialog#editTodos .close {
  max-width: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#todo-container .todo.expanded {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 500px;
  border: 6px solid var(--rich-black);
  box-shadow: 4px 4px 10px #000000a3;
  justify-content: space-around;
  cursor: default;
}


.todo .close svg {
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}

.todo.expanded button {
  display: inline-block;
  margin: 0 10px;
  font-size: 22px;
  padding: 5px 20px;
}

.todo span.due-date {
  font-weight: 500;
}

.todo .todo-description {
  flex-grow: 2;
}

button.removeProject {
  margin: 10px 13px;
  font-size: 20px;
}

.todo.expanded .due-date {
  position: absolute;
  top: 10px;
  left: 10px;
}

select, select option {
  text-transform: capitalize;
}