/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
    display: grid;
    grid-template-columns: 300px 1fr;
}

main{
  position: relative;
}

header {
    grid-row-start: 1;
    grid-row-end: 2;
    background: red;
    height: 100vh;
}

#todo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
    padding: 15px;
}

#todo-container .todo {
    background: red;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

button.new-todo {
  background: red;
  height: 100px;
  width: 100px;
  border-radius: 127px;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: none;
  border-radius: 7px;
  box-shadow: 4px 4px 10px #000000a3;
}

/* dialog#addTodos {
  position: relative;
} */

dialog#addTodos .close,
dialog#addProjects .close {
  max-width: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
}

.todo.expanded {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 500px;
}

.todo .close svg {
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}

.todo.expanded button {
  display: inline-block;
}
/* .todo button {
  display: none;
} */